extends layout

block content
  script(type="module", src="javascripts/script.js")
  header 
    h1= title
    p Welcome to #{title}
    a(href="/new")
      button Make a Post
  main
    hr
    div#top
      a(href="/#bottom") 
        button Bottom
      button.update-btn Update 
      label(for="auto-top") 
        input(type="checkbox", name="auto-top") 
        |Auto 
        span.update-counter
    hr 
    
    div.posts
      each post, i in posts
        div.post(id=`post_${i}`)
          div.info 
            span.post-user #[strong=post.user] 
            |&nbsp;
            span.post-date=post.added
          div.post-text
            p=post.text

    hr
    div#bottom
      a(href="/#top") 
        button Top
      button.update-btn Update 
      label(for="auto-bottom") 
        input(type="checkbox", name="auto-bottom") 
        |Auto 
        span.update-counter
    hr 